<section class="videos">
    <div class="video-player-wrapper">
        <div class="video-player">
          <div class="container">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive" src="" frameBorder="0" allowFullScreen></iframe>
            </div>
          </div>
        </div>
    </div>

    <div class="container">
        <h1 class="text-center decorated">Videos</h1>
        <div class="videos-flex">
            <% brand.metadata.brand_videos.map(vid => { %>
                <div class="videos-item">
                    <div class="videos-item--inner">
                        <span class="img-o" data-youTubeId="<%= vid.brand_video_id %>"></span>
                        <img class="videos-item_img img-responsive" src='https://img.youtube.com/vi/<%= vid.brand_video_id %>/0.jpg' />
                      </div>
                      <p class="videos-item--title"><%= vid.brand_video_title %></p>
                </div>
            <% }); %>
        </div>
    </div>
</section>
