<% include header %>
<% include mobileMenu %>

<section class="ContactUs">
    <div class="container">
      <div class="row">
        <h1 class="text-center">Contact Us</h1>
        <div class="brandContent col-md-8 col-md-offset-2">
          <p>If you would like more information about any of the brands that we carry or would like to arrange a demo please contact us at <a href="mailto:sales@tonetemple.com.au">sales@tonetemple.com.au</a>.</p>
        </div>
      </div>
    </div>

    <% include homepageVideos %>
</section>

<% include footer %>
