<footer>
  <div class="container">
    <p>© COPYRIGHT TONE TEMPLE 2017</a>
  </div>
</footer>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Chipping Norton",
    "addressRegion": "NSW",
    "postalCode":"2170",
    "streetAddress": "29/25-33 Alfred Road"
	},
  "description": "Tone Temple is the exclusive Strandberg Australia Retailer as well as retailer for brands such as Friedman Amplifiers, Yankee Power Supplies and Evil Angel Pickups.",
	"name": "Tone Temple",
	"telephone": "0297266271",
	"openingHours": "Mo,Tu,We,Th,Fr,Sa 10:00-18:00",
  "hasMap": "https://www.google.com.au/maps/place/25%2F33+Alfred+Rd,+Chipping+Norton+NSW+2170/@-33.9226463,150.962737,17z/data=!3m1!4b1!4m5!3m4!1s0x6b12be1a79f2703d:0x282faf954cbac518!8m2!3d-33.9226508!4d150.9649257",
  "email": "sales@tonetemple.com.au",
  "url" : "https://www.tonetemple.com.au",
  "logo": "https://cosmicjs.imgix.net/461d12d0-6fd0-11e6-9ce7-e1578c61af12-TT-2-01.svg",
  "image": "https://cosmicjs.imgix.net/c4d477b0-78d3-11e6-96c3-891fee3bbf5f-strandberg-banner-medium.jpg?w=900",
  "sameAs" : [
    "https://www.facebook.com/tonetemple.aus/",
    "https://www.instagram.com/tone.temple/"
  ]
}
</script>
</body>
</html>
