<div class="mobileMenu" style="display:none">
  <ul class="list-unstyled">
    <% brands.objects.map(brand => { %>
        <li class="mobileMenu-item"><a href="/brand/<%= brand.slug %>"><%= brand.title %></a></li>
    <% }); %>
    <li class="mobileMenu-item"><a herf="/contact-us">Contact us</a></li>
  </ul>
</div>
