<div class="nav">
  <ul class="list-unstyled list-inline container">
     <% brands.objects.forEach(function(navItem) { %>
         <li><a <%
            if (navSelected === navItem.slug) {
                %>class="active"<%
            }
         %>href="/brand/<%= navItem.slug %>"><%= navItem.title %></a></li>
     <% }); %>
     <li><a <%
        if (navSelected === 'contact-us') {
            %>class="active"<%
        }
     %>href="/contact-us">Contact us</a></li>
  </ul>
</div>
